@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding-bottom: 20px;
  padding-top: 20px;
  color: brown;
  background: wheat;
}
h3,
h2 {
  text-align: center;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.recipeAll {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
/*SEARCH BAR*/
.search {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.searchButton {
  height: 40px;
  width: 45px;
  background: chocolate;
}
.searchTerm {
  width: 50%;
  padding: 10px 10px;
  margin: 5px;
}
