* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fixed-menu {
  width: 100%;
  top: 0;
  position: fixed;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.recipeAll {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  font-family: "Itim", cursive;
  color: brown;
}
.noResultH4 {
  color: brown;
  text-align: center;
  margin-top: 29px;
  font-size: 52px;
  font-family: "Itim", cursive;
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .recipeAll {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .recipeAll {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
