<div class="recipe" >
<img class="listImg" src={{recipe.imgSrc}} alt="dhanya" />
<div class="recipeDetail">
    <h3>{{ recipe.title }}</h3>
    <button class="getRecipeButn" (click)="openRecipe()">Get Recipe</button>
</div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="showRecipe">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="recipeModal">
          <div class="imgAndTitle">
            <img class="modalImg" src={{recipe.imgSrc}} alt="dhanya" />
          </div>
            <div>
                <h3>{{ recipe.title }}</h3>
                <h5>⏰ &nbsp;&nbsp;&nbsp;{{ recipe.preparationTime }}</h5>
                <h4>{{ recipe.ingredients }}</h4>
                <p>{{ recipe.method }}</p>
        </div>
      </div>
    </div>
  
  </div>